# Environment
NODE_ENV=production

# Server
PORT=3004
LOG_LEVEL=info

# MongoDB
MONGODB_URI=mongodb://localhost:27017/mfulearnai

# ChromaDB
CHROMA_URL=http://chromadb.mfulearnai-core.svc.cluster.local:8000

# Bedrock Gateway
BEDROCK_SERVICE_URL=http://bedrock-gateway:8000
