
.mfu-tags:before { content: '\e800'; } /* '' */
.mfu-tag:before { content: '\e801'; } /* '' */
.mfu-eye:before { content: '\e802'; } /* '' */
.mfu-eye-outline:before { content: '\e803'; } /* '' */
.mfu-star:before { content: '\e804'; } /* '' */
.mfu-star-filled:before { content: '\e805'; } /* '' */
.mfu-videocam-outline:before { content: '\e806'; } /* '' */
.mfu-videocam:before { content: '\e807'; } /* '' */
.mfu-picture-outline:before { content: '\e808'; } /* '' */
.mfu-picture:before { content: '\e809'; } /* '' */
.mfu-users-outline:before { content: '\e80a'; } /* '' */
.mfu-users:before { content: '\e80b'; } /* '' */
.mfu-user-outline:before { content: '\e80c'; } /* '' */
.mfu-user:before { content: '\e80d'; } /* '' */
.mfu-user-add-outline:before { content: '\e80e'; } /* '' */
.mfu-user-add:before { content: '\e80f'; } /* '' */
.mfu-user-delete-outline:before { content: '\e810'; } /* '' */
.mfu-user-delete:before { content: '\e811'; } /* '' */
.mfu-lock-open-filled:before { content: '\e812'; } /* '' */
.mfu-lock-open:before { content: '\e813'; } /* '' */
.mfu-lock-filled:before { content: '\e814'; } /* '' */
.mfu-lock:before { content: '\e815'; } /* '' */
.mfu-comment:before { content: '\e816'; } /* '' */
.mfu-location-outline:before { content: '\e817'; } /* '' */
.mfu-location:before { content: '\e818'; } /* '' */
.mfu-address:before { content: '\e819'; } /* '' */
.mfu-vcard:before { content: '\e81a'; } /* '' */
.mfu-chat-alt:before { content: '\e81b'; } /* '' */
.mfu-contacts:before { content: '\e81c'; } /* '' */
.mfu-attention:before { content: '\e81d'; } /* '' */
.mfu-attention-filled:before { content: '\e81e'; } /* '' */
.mfu-bell:before { content: '\e81f'; } /* '' */
.mfu-thumbs-up:before { content: '\e820'; } /* '' */
.mfu-thumbs-down:before { content: '\e821'; } /* '' */
.mfu-heart-1:before { content: '\e82c'; } /* '' */
.mfu-heart-filled:before { content: '\e82d'; } /* '' */
.mfu-camera:before { content: '\e82f'; } /* '' */
.mfu-camera-outline:before { content: '\e830'; } /* '' */
.mfu-home-outline:before { content: '\e831'; } /* '' */
.mfu-home:before { content: '\e832'; } /* '' */
